<div style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/N_Y88TWmGwA/1600x900
    );     background-size: auto;
    background-position: center;
    padding: 150px 0;">
  <div class="container">
    <h1 style="margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
    font-size: 62px;
    font-weight: 200;
    letter-spacing: 4px;">RestaurantFinder</h1>
    <p style="font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);">Helping you to find the perfect restaurant!</p>
    <a class="btn btn-outline-light" href="/restaurants">Check out all of our restaurants!</a>
  </div>
</div>
<div class="container-fluid d-flex justify-content-around my-5">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow-sm mx-5 my-5">
            <img src="https://source.unsplash.com/PjPpj2fsSfI/1000x500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chinese Restaurants</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, deleniti? Aliquam magni enim quos aut nihil, vel consequuntur odio mollitia, nobis, nemo cumque dolores corporis tempora qui dolorem eum minima.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow-sm mx-5 my-5">
            <img src="https://source.unsplash.com/tEVisOXz26Y/1000x500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Italian Restaurants</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, deleniti? Aliquam magni enim quos aut nihil, vel consequuntur odio mollitia, nobis, nemo cumque dolores corporis tempora qui dolorem eum minima.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow-sm mx-5 my-5">
            <img src="https://source.unsplash.com/O2yNzXdqOu0/1000x500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Japanese Restaurants</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, deleniti? Aliquam magni enim quos aut nihil, vel consequuntur odio mollitia, nobis, nemo cumque dolores corporis tempora qui dolorem eum minima.
                </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow-sm mx-5 my-5">
            <img src="https://source.unsplash.com/eGPlT_RXzi8/1000x500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">French Restaurants</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, deleniti? Aliquam magni enim quos aut nihil, vel consequuntur odio mollitia, nobis, nemo cumque dolores corporis tempora qui dolorem eum minima.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow-sm mx-5 my-5">
            <img src="https://source.unsplash.com/T7M8OrieEyw/1000x500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Belgian Restaurants</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, deleniti? Aliquam magni enim quos aut nihil, vel consequuntur odio mollitia, nobis, nemo cumque dolores corporis tempora qui dolorem eum minima.
              </p>
            </div>
          </div>
        </div>
      </div> 
    </div>
