// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: white;
}
#icon {
  color: white;
    text-align: center;
    font-size: 32px;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
}